html {
    background-color: #1b1a26;
    
}


@font-face
{
font-family: myFancyFont;
src: url('ABOVE.ttf')
}

main {
    margin:0;
    padding:0;
    background-color: #302e42;
    color: white;
    padding-bottom: 25px
}

.landing-button{
    width: 200px;
    border-radius: 5px;
    padding:3px;
    background-color: #fb0;
    margin: auto;
    font-size: 20px;
    border: 2px solid #fb0;
    color: #302e42;
    transition: .3s;
    margin-bottom: 1%;
}

.landing-img{
    max-width:90%;
}

h1{
    margin-top: 0;
    padding: 15px;
}

.landing-background-female{
    background-image: url('../../assets/femalemainpage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.landing-background-male{
    background-image: url('../../assets/tiremainpage.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.landing-background-male-squat{
    background-image: url('../../assets/malesquatting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.landing-intro{
}

.landing-intro > div{
    margin: auto;
    width: 100%;
    background-color: #302e42;
    opacity: .85;
}

.champion-header{
    width: 100%;
    margin: auto;
    position: absolute;
    color: yellow;
    font-size: 50px;
    font-family: 'myFancyFont', sans-serif;
    background-color: #302e42;
    opacity: .7;
}

.champion-header > h1{
    margin: 0;
}

.landing-background{
    width:100%;
    background-image: url('../../assets/tiremainpage.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

@media only screen and (max-width: 775px) {
    .landing-background{
        width:100%;
        background-image: url('../../assets/femalemainpage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 50vh;
    }

    .champion-header{
        font-size: 20px;
    }
}